/* 共通 */
html,
body {
  height: 100%;
  position: relative;
}

body {
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.alert-danger {
  padding: 0;
}

.sns-contents {
  margin: 4rem 5rem 2rem 5rem;
}

.card-header {
  font-weight: bold;
  background-color: #e4ffed;
}

.btn-area {
  margin: 1rem 0.1rem;
}

.logo-title {
  width: 174;
  height: 75;
}

.logo {
  width: 68;
  height: 65;
}

/* nav.html */
.navbar {
  background: #c5daef;
  height: 5rem;
}

.logout {
  color: #000000;
  font-weight: bold;
}

/* login.html */
.login {
  width: 100%;
  max-width: 30rem;
  margin: auto;
}
.login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 15px;
  font-size: 16px;
}
.login .form-control:focus {
  z-index: 2;
}
.login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* detail.html */
.detail-title {
  border-bottom: solid 1px #00c140;
}

.detail-content {
  padding: 1.5rem;
  border-bottom: inset;
}

.comment-content {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-bottom: inset;
}

.comment-content-date {
  font-size: small;
}

/* create.html */
.content {
  max-width: 500px;
  margin: auto;
  padding: 10px;
}

.board_for_read {
  width: 100%;
  background-color: #f1f1f1;
}

#title {
  height: 32px;
  width: 100%;
  border-radius: 0.5em;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

textarea {
  width: 100%;
  font-family: inherit;
  font-size: 100%;
  resize: none;
  border-radius: 0.5em;
  padding-block: 10px;
  border: 0px;
}

.td_title {
  background-color: #d8d8d8;
}
