<!doctype html>
{% load static %} <!-- staticファイル呼び込み -->

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

  </head>
  <body class="d-flex flex-column">
    <header>
      {% include 'nav.html' %}
    </header>
    <div class="sns-contents">
      {% block content %}
      {% endblock content %}
    </div>
  </body>

</html>