{% extends 'base.html' %}

{% include 'nav.html' %}
{% block content %}
<div class="card">
  <h5 class="card-header">揭示物</h5>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">タイトル</th>
          <th scope="col">作成者</th>
          <th scope="col">作成日時</th>
          <th scope="col">アクセス数</th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list %}
        <tr>
          <th scope="row">{{ item.board_id }}</th>
          <td><a href="{% url 'detail' item.board_id %}">{{ item.title }}</a></td>
          <td>{{ item.author }}</td>
          <td>{{ item.create_date }}</td>
          <td>{{ item.read }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex flex-row-reverse">
      <a class="btn btn-primary" href="{% url 'create' %}" role="button">スレッド作成</a>
    </div>
  </div>
</div>

{% endblock content %}