{% extends "base.html" %}
{% load static %} <!-- staticファイル呼び込み -->

{% block content %}
<body class="text-center">
  <main class="login">
    <div class="card">
      <div class="card-body">
        <form method="POST">{% csrf_token %}
          <img class="mb-4" src="{% static '/images/logo.png' %}" alt="" width="174" height="75">
          <div class="card-body">
            <div class="form-floating">
              <input type="email" class="form-control" name="email" placeholder="メールアドレス">
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" name="password" placeholder="パスワード">
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">login</button>
          </div>
        </form>
        {% if error != None %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endif %}
      </div>
    </div>
  </main>
</body>
{% endblock content %}